[cc lang=”css”]{ /*Responsividade para desktops and laptops ———– */
  Styles
  @media only screen
  and (min-width : 1224px)
}

.form-horizontal{
  margin-left:12%;
  margin-top:4%;
}


.itens{
  position: relative;
  top: 4%;
  z-index: = 10000;
}
.col-sm-2{
  color:#ffffff;
}
.checkbox{
  color: #b3b3b3;
}
