@font-face {
    font-family: 'Roboto'; /*a name to be used later*/
    src: url('../fonts/Roboto-Condensed.ttf'); /*URL to font*/
}

body {
   font-family: 'Roboto';
   background-color: #775CB9;
}

.h2{
 margin-left:28%;
 margin-top:5%;
 font-size: 330%;
 color: #ffffff;
 z-index: = 10000;
}

.h3{
 font-size: 150%;
 margin-left:32%;
 color: #b3b3b3;
 z-index: = 10000;
}

.fundo2{
  position: absolute;
  top: 0px;
  z-index: 0;
  height: 90% ;
  width:50% ;
  border-radius: 1%;
  background-color: #1a1a1a;
  margin-left:25%;
  margin-top:0%;
}

.fundo3{
   position: relative;
   background-color: #1a1a1a;
   width: 80%;

   margin: auto;
   border-radius: 10px;
   padding-bottom: 30px;
}

table {
   border:1px solid #FFFFFF;
   border-radius: 5px;
}
td,th {border:none}

th{
   border:1px solid #FFFFFF;
}
