
.blocks{
   float: left;
   margin-left: 5%;
}

.calendar{
   border-radius: 5px;
   height: 5%;
}



.h3{
   padding-top: 10px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   color: #ffffff;
   font-size: 330%;
}

.sub-h{
   color: #ffffff;
   font-size: 2em;
   text-align: left;
}

.data-h{
   color: #ffffff;
   width: 50px;
   text-align: left;
}

.data{
   width: 125px;
   margin-left: 5%;;
}

.dropdown-list{
   border-radius: 5px;

}

.dropdown-content{
   color: #000000;
}

.table-position{
   margin-left: auto;
   margin-right: auto;
   margin-top: 25px;
   margin-bottom: 10px;
   border-radius: 5px;
}

table.GeneratedTable {
  width: 90%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #775cb9;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #775cb9;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #775cb9;
}

/*arrumar calendario*/
div.calendario{
   width: 156px;
}
