
.page-header{
  margin-left: 100px;
  margin-right: 100px;
}

.h3{
   padding-top: 10px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   color: #ffffff;
   font-size: 330%;
}

.blocks{
   float: left;
   margin-left: 5%;
}

.calendar{
   border-radius: 5px;
   height: 5%;
}
.sub-h{
   color: #ffffff;
   font-size: 2em;
   text-align: left;
}

.dropdown-list{
   border-radius: 5px;

}

.dropdown-content{
   color: #000000;
}

.fundo3{
   position: relative;
   background-color: #1a1a1a;
   width: 80%;
   height: 500px ;
   margin: auto;
   border-radius: 10px;
}
