
.page-header{
  margin-left: 100px;
  margin-right: 100px;
}

.h3{
   padding-top: 10px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   color: #ffffff;
   font-size: 330%;
}

.blocks{
   float: left;
   margin-left: 5%;
}

.calendar{
   border-radius: 5px;
   height: 5%;
}

.table-h{
   background-color: #ffffff;
   width: 80%;
   padding-top:10px;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
}

.sub-h{
   color: #ffffff;
   font-size: 2em;
   text-align: left;
}

.dropdown-list{
   border-radius: 5px;

}

.dropdown-content{
   color: #000000;
}

.fundo3{
   position: relative;
   background-color: #1a1a1a;
   width: 80%;

   margin: auto;
   border-radius: 10px;
   padding-bottom: 30px;
}

.tg  {
   border-collapse:collapse;
   border-radius: 5px;
   border-spacing:0;
   border-color:#999;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
}

.tg td{
   font-size:14px;
   padding-left: 2px;
   padding-right: 2px;
   border-style:solid;
   border-width:1px;
   overflow:hidden;
   word-break:normal;
   border-color:#999;
   color:#444;
   background-color:#F7FDFA;
}

.tg th{
   font-size:14px;
   font-weight:normal;
   padding-left: 2px;
   padding-right: 2px;
   border-style:solid;
   border-width:1px;
   overflow:hidden;
   word-break:normal;
   border-color:#999;
   color:#fff;
   background-color:#775CB9;
}

.tg .tg-baqh{
   text-align:center;
   vertical-align:top
}

.tg .tg-yw4l{
   vertical-align:top
}

.reservar-button{
   width: 100px;
   margin-left: 50px;  
}



/*tabela*/
.dataTables_wrapper{
   width: 90%;
   margin: auto;
}

div.dt-buttons{
   float: none;
   width: 88px;
   margin-left: auto;
   margin-right: auto;
}

/*arrumar calendario*/
div.calendario{
   width: 155px;
}
